<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= name %> - Login</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://api.fontshare.com/v2/css?f[]=general-sans@500,300,600,400,700&display=swap" rel="stylesheet">
</head>

<body class="bg-gray-100 min-h-screen flex flex-col">
   <main class="flex-grow flex items-center justify-center p-8">
       <div class="py-8 px-6 md:py-12 md:px-8 max-w-md w-full">
           
           <h2 class="text-center text-2xl tracking-tight font-semibold text-gray-800">Welcome back!</h2>
           <p class="text-gray-600 text-center mt-1 text-sm">Sign in to your account.</p>
           
           <!-- User/Password Login Form -->
           <form method="GET" action="/auth/login" class="mt-8 space-y-4">
               <div>
                   <input type="username" id="username" name="username" class="transition w-full py-2 px-4 font-medium text-sm bg-gray-200 rounded-full border border-gray-200 text-gray-700 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:border-gray-500" placeholder="Username" required>
               </div>
               <div>
                   <input type="password" id="password" name="password" class="transition w-full py-2 px-4 font-medium text-sm bg-gray-200 rounded-full border border-gray-200 text-gray-700 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:border-gray-500" placeholder="Password" required>
               </div>
               <button style="box-shadow: inset 0px 4px 5px -3px rgba(55,65,81,1);" type="submit" class="hover:scale-95 w-full py-2.5 px-4 bg-gray-800 hover:bg-gray-700 transition text-white rounded-full transition font-medium hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 flex items-center justify-center">
                   Sign in
               </button>
            
           </form>
       </div>
   </main>
