<%- include('../components/template') %>
<div class="min-h-screen flex items-center justify-center">
  <div class="text-center">
    <h1 class="text-3xl font-bold text-gray-200 mb-4">Server is being Installed</h1>
    <p class="text-lg text-gray-300">Please come back later.</p>
    <div class="mt-6 flex justify-center">
      <div class="w-12 h-12 border-4 border-gray-400 border-t-transparent rounded-full animate-spin"></div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<%- include('../components/footer') %>
